/* .cell {
    font-family: "Inter", sans-serif;
} */

.nullValue {
    color: var(--gray-300);
}

.badge {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 9999px;
}

.badgeIcon {
    width: 1.25rem;
    height: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.iconOnlyBadge {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.spark {
    height: 20px;
    display: inline-block;
}

.sparkValue {
    width: 35px;
    align-self: center;
}

.sparkBar {
    width: 100px;
}

.sparkBarObserved {
    background-color: #16a34a; /* Tailwind green-600 */
}

.sparkBarRemainder {
    background-color: #d1d5db; /* Tailwind gray-300 */
}

.truncatedText {
    max-width: 300px;
    word-break: break-word;
}



.link:hover,
.infoLink:hover {
    text-decoration: underline;
}


.infoLink {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: --var(--secondary-blue); /* Tailwind blue-700 */
    text-underline-offset: 4px;
}
