/* .cell {
    font-family: "Inter", sans-serif;
} */

.cell-badge {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 9999px;
}

.cell-badge-icon {
    width: 1.25rem;
    height: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.cell-icon-only-badge {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.cell-spark {
    height: 20px;
    display: inline-block;
}

.cell-spark-value {
    width: 35px;
    align-self: center;
}

.cell-spark-bar {
    width: 100px;
}

.cell-spark-bar-observed {
    background-color: #16a34a; /* Tailwind green-600 */
}

.cell-spark-bar-remainder {
    background-color: #d1d5db; /* Tailwind gray-300 */
}

.cell-link,
.info-link {
    color: #1d4ed8; /* Tailwind blue-700 */
    text-decoration: none;
}

.cell-link:hover,
.info-link:hover {
    text-decoration: underline;
}

.cell-link:visited,
.info-link:visited {
    color: #6d28d9; /* Tailwind purple-900 */
}

.cell-link:active,
.info-link:active {
    color: #450a0a; /* Tailwind red-950 */
}

.info-link {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #1d4ed8; /* Tailwind blue-700 */
    text-underline-offset: 4px;
}
