.pagination-control-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.pagination-control-summary {
    align-self: center;
    font-size: 0.875rem;
    color: #111827; /* Tailwind gray-900 */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.export-control-container {
    position: relative;
    display: inline-block;
    text-align: left;
}

.export-controls-button-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.table-toolbar-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin: 0.5rem;
}
