/* UI ELEMENTS */

.icon-disabled {
    @apply stroke-slate-300;
}

.info-bubble {
    @apply text-transparent size-4 stroke-primary;
}

/* FIXME: for formatting icon in a button icon */
.icon-button {
    @apply size-4 stroke-4;
}

.dropdown:focus-within .dropdown-menu {
    @apply block;
}

.icon {
    width: 1rem;
    height: 1rem;

    &.clickable {
        cursor: pointer;
    }
}

.pill {
    display: flex;
    align-items: center;

    border-style: solid;
    border-width: thin;
    border-radius: 9999px;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    padding-top: .5rem;
    padding-bottom: .5rem;

    margin-right: 5px;
    margin-left: 5px;
}
