.home-page-content {
    width: 100vw;

    padding-left: 50px;
    padding-right: 50px;
}

.home-page-section {
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding-top: 40px;
    padding-bottom: 40px;
}

.home-page-heading {
    max-width: 60%;
    padding-left: 40px;
}

.home-page-title {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.home-page-description {
    font-size: 1.1rem;
    padding-bottom: 2rem;
}

.home-page-link-buttons {
    width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-page-dss-link-button {
    width: 185px;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    text-decoration: none;
    font-size: 1.2rem;
}

.home-page-socials {
    width: 80%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-page-signup-buttons {
    width: 40%;
    padding-left: 40px;

    height: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home-page-button-label {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.home-page-rss-feed {

}
