BUILD=staging
# production: builds with versions of @niagads packages in package.json, runs in production node env
# staging: builds with canary versions of @niagads packages, runs in production node env
# development: builds with canary versions of @niagads packages, runs in development node env

# ------------------------

# The following are placeholders.  For automatted builds, all values will be overriden 
# when containers are deployed from pre-built images using `docker run`

GENOMICSDB_CLIENT_PORT=3001
NIAGADS_MAIN_CLIENT_PORT=3002
IGVBROWSER_CLIENT_PORT=3003

LOG_DIR=/tmp
WEBMASTER_GID=1000 

# logs will be stored as APP_NAME.log in the LOG_DIR, which must exist and be g+rw to the WEBMASTER group
