GENOMICSDB_CLIENT_PORT=3001
NIAGADS_MAIN_CLIENT_PORT=3002
IGVBROWSER_CLIENT_PORT=3003

# logs will be stored as APP_NAME.log
# need to make sure the log dir exists and it's group ownership matches WEBMASTER_GID, and is g+rw
# before running docker build
LOG_DIR=
WEBMASTER_GID=

APP_ENV=staging
# production: builds with versions of @niagads packages in package.json, runs in production node env
# staging: builds with canary versions of @niagads packages, runs in production node env
# development: builds with canary versions of @niagads packages, runs in development node env