services:

  genomicsdb-app:
    container_name: genomicsdb-client
    image: client-app-genomics:${RELEASE}
    build:
      context: .
      dockerfile: ./genomicsdb.Dockerfile
    ports:
      - "${HOST_CLIENT_PORT}:3000"
