# Docker Build Configuration NIAGADS Genome Browser Application.  
# See https://github.com/NIAGADS/igvbrowser-microservice for more information

# copy to docker.env then edit.

# port mapping on host
PORT=3000

# full path to project directory containing the application code
APPLICATION_DIR=
