.json {
    margin: 0.75rem; /* Tailwind m-3 */
}

.string {
    color: #065f46; /* Tailwind text-green-800 */
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: #374151; /* Tailwind text-gray-700 */
}

.key {
    color: #b45309; /* Tailwind text-yellow-700 */
}

/* .json {
    @apply m-3
}

.string {
    @apply text-green-800
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    @apply text-gray-700
}

.key {
    @apply text-yellow-700
} */
