/* color */
.text-white {
    color: #fff;
}

.text-secondary {
    color: var(--secondary);
}

.text-primary {
    color: var(--primary);
}

/* font */
.font-normal {
    font-weight: 400;
}

/* decoration */
.underline {
    text-decoration: underline;
}
