/* styling for /app/page.tsx */

.section {
    padding: 2rem;
}

.hero {
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding-bottom: 6rem;
}

.hero-header {
    font-size: 4rem;
    color: var(--secondary);
    padding-top: 2rem;
}

.hero-subheader {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.section-header {
    font-size: 2.2rem;
    text-align: center;
}

.section-text {
    font-size: 1.5rem;
    max-width: 1000px;
    margin: auto;
    padding-top: 2rem;
}
