.recordTypeBadge {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background-color: var(--gray-100);
    border-radius: var(--border-radius);
    font-weight: 500;
    /*margin-bottom: 0.5rem;*/
    text-transform: capitalize;
}

.recordTypeBadge.gene {
    background-color: #e0f2fe;
    color: #0369a1;
}

.recordTypeBadge.variant {
    background-color: #fef3c7;
    color: #92400e;
}

.recordTypeBadge.study {
    background-color: #d1fae5;
    color: #047857;
}

.viewDetailsLink {
    color: var(--primary-blue);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 500;
}

.viewDetailsLink:hover {
    text-decoration: underline;
}
