.badge {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    border-radius: var(--border-radius-md);
    background-color: var(--surface); 
    border-color: var(--dark-blue);
    font-size: 0.875rem;
    font-weight: 500;
    gap: 0.5rem;
}

.pill {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 1.25rem;
    border-radius: var(--border-radius-lg);
    border-color: var(--dark-blue);
    background-color: var(--surface); 
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    gap: 0.5rem;
}

.icon {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.text {
    display: inline;
}
