.ui-checkbox,
.ui-radio {
    cursor: pointer;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

.ui-checkbox.primary,
.ui-radio.primary {
    accent-color: var(--primary);
}

.ui-checkbox.secondary,
.ui-radio.secondary {
    accent-color: var(--secondary);
}

.ui-checkbox.accent,
.ui-radio.accent {
    accent-color: var(--secondary);
}

.ui-checkbox.pink,
.ui-radio.pink {
    accent-color: var(--color-pink-500);
}

.ui-checkbox-label {
    font-size: 0.875rem;
    margin-left: 0.5rem;
}
