.ui-checkbox,
.ui-radio {
    cursor: pointer;

    &.primary {
        accent-color: var(--primary);
    }
    &.secondary {
        accent-color: var(--secondary);
    }
    &.accent {
        accent-color: var(--secondary);
    }
    &.pink {
        accent-color: var(--color-pink-500);
    }
}
