@import "@niagads/common/assets/styles/theme.css";
@import "react-tooltip/dist/react-tooltip.css";

/* classes that still needs to reviewed  and/or that is used in multiple components */

.ui-link {
    color: #1d4ed8; /* blue-700 */
    text-decoration: none;
}
.ui-link:hover {
    text-decoration: underline;
}
.ui-link:visited {
    color: #6d28d9; /* purple-900 */
}
.ui-link:active {
    color: #450a0a; /* red-950 */
}

.ui-info-link {
    color: #1d4ed8; /* blue-700 */
    cursor: pointer;
    text-decoration: underline dashed;
    text-decoration-color: #1d4ed8; /* blue-700 */
    text-underline-offset: 4px;
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-accent {
    background-color: var(--accent);
}

.inline-flex {
    display: inline-flex;
}

/* FROM Layouts */

.ui-container {
    position: relative;
    z-index: 2;
    max-width: 1264px;
    width: 100%;
    background: none;
    display: block;
    justify-content: space-between;
    margin: auto;
}

.ui-container.full {
    max-width: 100%;
}
