/* Renamed from select.css for CSS Modules */
.select-wrapper {
    font-size: 0.875rem; /* text-sm */
    font-family:
        "Inter", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}

.select {
    background-color: #f9fafb; /* gray-50 */
    color: #111827; /* gray-900 */

    display: block;
    width: 100%;
    padding: 0.625rem; /* 2.5 */
}

.select-label.select-inline {
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .select-inline {
        display: flex;
        align-items: center;
    }
}

.select.outline {
    border: 1px solid #d1d5db; /* gray-300 */
    border-radius: 0.5rem; /* rounded-lg */
    outline: none;
}
.select.outline:focus {
    box-shadow: 0 0 0 2px #3b82f6; /* ring-blue-500 */
    border-color: #3b82f6; /* blue-500 */
}
.select.plain {
    background-color: #fff;
    border: 0;
}
.select.plain:focus {
    background-color: #f3f4f6; /* gray-100 */
}
.select.underline {
    background-color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #000;
    border-style: solid;
}
