.ui-select {
    background-color: #f9fafb; /* gray-50 */
    color: #111827; /* gray-900 */
    font-size: 0.875rem; /* text-sm */
    display: block;
    width: 100%;
    padding: 0.625rem; /* 2.5 */
}

@media (min-width: 768px) {
    .ui-select.inline {
        display: flex;
        align-items: center;
    }
}

.ui-select.outline {
    border: 1px solid #d1d5db; /* gray-300 */
    border-radius: 0.5rem; /* rounded-lg */
    outline: none;
}
.ui-select.outline:focus {
    box-shadow: 0 0 0 2px #3b82f6; /* ring-blue-500 */
    border-color: #3b82f6; /* blue-500 */
}
.ui-select.plain {
    background-color: #fff;
    border: 0;
}
.ui-select.plain:focus {
    background-color: #f3f4f6; /* gray-100 */
}
.ui-select.underline {
    background-color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #000;
    border-style: solid;
}
.ui-select.underline:focus {
    border-bottom-color: #3b82f6; /* blue-500 */
}

.ui-select-label {
    display: block;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #111827; /* gray-900 */
}
