/* styling for /app/layout.tsx */

.footer-bg-primary {
    background-color: var(--primary); /* Example Tailwind bg-primary (blue-600), adjust as needed */
    color: #fff; /* text-white */
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* font-size: 1.125rem; */ /* text-lg */
    padding: 0.5rem; /* p-4 */
}
