/* Error Page */

.error-page {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-page-section-header {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
}

.error-page-code-block {
    font-size: 0.75rem;
}

@media (max-width: 1024px) {
    .error-page {
        max-width: 90%;
    }
}
